<div class="table-responsive">
	<table id="predioList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Area/Ha</th>
			<th scope="col">Observaciones</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="predio: ${predioList}">
			<td th:text="${predio.id}"></td>
			<td th:text="${predio.nombre}"></td>
			<td th:text="${predio.areaHa}"></td>
			<td th:text="${predio.observaciones}"></td>
			<td>
				<a href="#" th:href="@{'/editPredio/'+ ${predio.id}}"><i class="fas fa-edit"></i></a>
				|<a href="#" th:onclick="'javascript:confirmDelete(\''+ ${predio.id} +'\');'"><i class="fas fa-user-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
</div>
<script type="text/javascript">
	function confirmDelete(id){
		$('#deleteModal').modal('show');
		$("#userIdHiddenInput").val(id);
	}
	
	function deletePredio(){
		var id = $("#userIdHiddenInput").val();
		window.location = "deletePredio/"+id;
	}
	</script>
