<div class="table-responsive">
	<table id="loteList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Fecha</th>
			<th scope="col">Número de Animales</th>
			<th scope="col">Consumo de Forraje Animal</th>
			<th scope="col">Predio</th>
			<th scope="col">Observaciones</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="lote: ${loteList}">
			<td th:text="${lote.id}"></td>
			<td th:text="${lote.nombre}"></td>
			<td th:text="${lote.fecha}"></td>
			<td th:text="${lote.nAnimales}"></td>
			<td th:text="${lote.consumoForrajeAnimal}"></td>
			<td th:text="${lote.predio.nombre}"></td>
			<td th:text="${lote.observaciones}"></td>
			<td>
				<a href="#"><i class="fas fa-edit"></i></a>
				<a href="#"><i class="fas fa-user-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
