<div class="table-responsive">
	<table id="recorridaList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Número</th>
			<th scope="col">Fecha</th>
			<th scope="col">Potrero</th>
			<th scope="col">Kg Ms/Ha</th>
			<th scope="col">Hojas</th>
			<th scope="col">Nudos</th>
			<th scope="col">Observaciones</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="recorrida: ${recorridaList}">
			<td th:text="${recorrida.id}"></td>
			<td th:text="${recorrida.numero}"></td>
			<td th:text="${recorrida.fecha}"></td>
			<td th:text="${recorrida.potrero.nombre}"></td>
			<td th:text="${recorrida.kgMsHa}"> </td>
			<td th:text="${recorrida.hojas}"></td>
			<td th:text="${recorrida.nudos}"></td>
			<td th:text="${recorrida.observaciones}"></td>
			<td>
				<a href="#" th:href="@{'/editRecorrida/'+ ${recorrida.id}}"><i class="fas fa-edit"></i></a>
				<a href="#" th:onclick="'javascript:confirmDelete(\''+ ${recorrida.id} +'\');'"><i class="fas fa-user-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
</div>
<script type="text/javascript">
	function confirmDelete(id){
		$('#deleteModal').modal('show');
		$("#userIdHiddenInput").val(id);
	}
	
	function deleteRecorrida(){
		var id = $("#userIdHiddenInput").val();
		window.location = "deleteRecorrida/"+id;
	}
	</script>
	
	
	